/*Universal*/

/* Colour Scheme
Primary colour  #213473
secondary colour #DEBDDB;
3rd colour  #F07EF2; */

html, body, footer {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 1.8rem;
}

/*NAVBAR*/
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #213473;
    border-bottom: solid 10px #DEBDDB;
    z-index: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {
    flex-grow: 1;
    text-align: right;
}

header .logo {
    color: seashell;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 1.5rem; 
}

.menu {
    margin-right: 1.5rem;
}

.menu li {
    display: inline-block;
    padding-left: 0.7rem;
    padding-top: 0.7rem;
}

.menu a {
    color: #DEBDDB;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
}

.menu a:hover {
    color: #F07EF2;
    text-decoration: underline;
    cursor: pointer;

}

#logo-small {
  display: none;
}

@media screen and (max-width: 900px) {
  
  #big-logo {
    display: none;
  }

  #logo-small {
    display: block;
  }
}
  @media screen and (max-width: 720px) {

  .menu a {
    font-size: 1rem;
  
}
}

@media screen and (max-width: 480px) {

  #logo-small {
    display: none;
  }
}

@media screen and (max-width: 380px) {

  .menu a {
    font-size: 0.8rem;
  
}
}

/*BODY*/

body { 
    padding-top: 9.5rem;
}

.projects, .about, .skills, .contact  {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #213473;
}

/*hero*/
section .hero {
    height: 600px;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    border: solid 6px #213473;
}

.hero span {
    color: #213473;
    font-size: 3rem;
    font-weight: 500;
    padding-left: 1rem;
    

}

.hero div {
  margin: auto 0;
  padding-right: 200px;
}

@media screen and (max-width: 720px) {

  .hero {
    display: block;
    padding-left: 28%;
}
body { 
  padding-top: 5rem;
}

.hero img {
margin-top: 20px;
}
}

@media screen and (max-width: 380px) {

  .hero {
    display: block;
    padding-left: 8%;
}
}

/* title Animation start */
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #3D8DAE;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* title Animation end */

/*skills*/

#skills-logos {
  display: flex;
  justify-content: space-around;

}

#skills-logos img {
  width: 50px;
  height: auto;
}

/*contact*/

.contact {
  background-color: #DEBDDB;
  border-top: solid 3px #213473;
  border-bottom: solid 3px #213473;
}

#contact-details {
  display: flex;
}

#contact a {
  color: #213473;
  
}

#contact a:hover {
  color: #F07EF2;
  cursor: pointer;
  
  
}
/*footer*/
footer p {
  color: #213473;
  text-align: center;
}


footer span {
  color: #F07EF2;
  font-size: 1rem;
}

footer p {
  font-size: 1rem;
}